//colors
$color-primary: #3b2c28;
$color-primary-light: #6b4e48;

$color-grey: #808080;
$color-white: #fff;
$color-brown-dark: #bc4639;
$color-brown-light: #5c2018;
$color-yellow: #faed26;
$color-black: #000;

$background-color-1: #f5f5f5;

//card colors
$color-cardsOrange-light: #ffb900;
$color-cardsOrange-dark: #ff7730;

$color-cardsBlue-light: #2998ff;
$color-cardsBlue-dark: #5643fa;

$color-cardsGreen-light: #9ff687;
$color-cardsGreen-dark: #09f156;

$color-cardsPurple-light: #f57eaf;
$color-cardsPurple-dark: #a72a7d;

$color-cardsBrown-light: #36dbca;
$color-cardsBrown-dark: #2a8e82;

$color-cardsRed-light: #f2c06a;
$color-cardsRed-dark: #c17d07;

//GRID
$grid-width: 114rem;
$bottom-space: 8rem;
$leftRight-space: 3rem;

//fontsize
$default-font-size: 1.6rem;
