.row {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $bottom-space;
  }

  @include clearfix;

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $leftRight-space;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$leftRight-space}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$leftRight-space}) / 3);
  }

  .col-2-of-3 {
    width: calc(
      2 * ((100% - 2 * #{$leftRight-space}) / 3) + #{$leftRight-space}
    );
  }

  .col-1-of-6 {
    width: calc((100% - 5 * #{$leftRight-space}) / 6);
  }

  .col-2-of-4 {
    width: calc(
      2 * ((100% - 3 * #{$leftRight-space}) / 4) + #{$leftRight-space}
    );
  }

  .col-3-of-4 {
    width: calc(
      3 * ((100% - 3 * #{$leftRight-space}) / 4) + 2 * #{$leftRight-space}
    );
  }
}
