.row {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $bottom-space;
  }

  @include clearfix;

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $leftRight-space;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$leftRight-space}) / 2);
  }

  .col-1-of-6 {
    width: calc((100% - 5 * #{$leftRight-space}) / 6);
  }
}
