.u-center-text {
  text-align: center;
}

.u-margin-bottom-space {
  margin-bottom: 8rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.u-margin-bottom-small-1 {
  margin-bottom: 1.5rem;
  letter-spacing: 0.5rem;
  font-size: 2rem;
}
